---
layout: default
---

{% assign index = true %}
{% assign first = true %}
{% for post in paginator.posts %}
    {% assign content = post.content %}
    {% if first %}
        {% assign first = false %}
        <article class="post">{% include front_article.html %}</article>
    {% else %}
        <article class="post">{% include article.html %}</article>
    {% endif %}
{% endfor %}
{% if paginator.previous_page or paginator.next_page %}
<nav id="pagenavi">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page}}" class="prev">Prev</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{paginator.next_page}}" class="next">Next</a>
    {% endif %}
</nav>
{% endif %}
