{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
	<header id="header" class="inner">{% include header.html %}</header>
	<div id="main" class="inner">
		<div id="content">{{ content | expand_urls: root_url }}</div>
		<aside class="sidebar">
			{% if site.blog_index_asides.size %}
				{% include_array blog_index_asides %}
			{% else %}
				{% include_array default_asides %}
			{% endif %}
		</aside>
		<div class="clearfix"></div>
	</div>
	<footer id="footer" class="inner">{% include footer.html %}</footer>
	{% include after_footer.html %}
</body>
</html>
