$max-width: 1200px;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  background: $color-background;
  color: $color-gray01;

  @media screen and (max-width: 1040px) {
    margin: 0 20px;
  }

  @media screen and (max-width: 600px) {
    font-size: 13px;
    margin: 0 20px;
  }
}

a {
  text-decoration: none;
  color: #bf0222;
  -webkit-transition: border 0.25s linear;
  -moz-transition: border 0.25s linear;
  -ms-transition: border 0.25s linear;
  transition: border 0.25s linear;
  outline: none;
}

a:hover {
  border-bottom: 1px solid #bf0222;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clearfix {
  @include pie-clearfix;
}

.inner {
  width: $max-width;
  margin: 0 auto;

  @media screen and (max-width: 1040px) {
    width: 100%;
  }
}

ul {
  margin-left: 20px;
}

@media screen and (max-width: 840px) {
  aside.sidebar {
    display: none;
  }
}

@media screen and (min-width: 840px) {
  #content {
    float: left;
    width: $max-width * 0.70;
  }
  aside.sidebar {
    float: right;
    width: $max-width * 0.30 - 20px;
    padding-left: 20px;
  }
}
